@charset "utf-8";
#base {
	background-color: #999;
	margin: 0 auto;
	padding: 0 auto;
	height: 1800px;
	width: 1050px;
}
#banner {
	background-color: #F00;
	height: 400px;
	width: 1050px;
	margin: 0 auto;
	padding: 0 auto;
}
#menu {
	background-color: #900;
	height: 50px;
	width: 900px;
	float: right;
	margin: 15px;
}
#banner {
}
